<body class="abbkgrd">
	<h1>About <span id="bluelogo">Gym</span><span id="greenlogo">Talk</span></h1>

	<h2 id="end">The social networking app that connects people who want to keep fit, share your fitness location and new fitness experience with others. 

	It is also a marketing tool for any business in the field of providing a health oriented activity that is for people to get fit, keep active, focus on wellness and network with others.</h2>


	<h1>Why <span id="bluelogo">Gym</span><span id="greenlogo">Talk</span></h1>


	<h2 id="end">Why not replace a part of the time spent looking at a screen or shopping and have look what is out there to get you moving?</h3>

	<h2 id="end2">GymTalk was named because everyone remembers going to a gym when they were in school and how it was included along with academics. We have the knowledge and live with much more social media to know that going to a gym, a run, or trying that fencing class you always wanted is a very important part of being human, being smart and living well.</h3>

	<div class="contact">
	<h1>Contact Us</h1>
	<h2><span class="email">info@<span id="bluelogo">gym</span><span id="greenlogo">talk</span>.com</span></h2>
</div>

</body>