<body class="abbkgrd">
	<div class="gymtalkabout">
		<h1>About <span id="bluelogo">Gym</span><span id="greenlogo">Talk</span></h1>

		<h3 id="end">The social networking app that connects people who want to keep fit, share their fitness experiences, and receive perks

		It is also a marketing tool for any business in the field of providing a health oriented activity that is for people to get fit, keep active, focus on wellness and network with others.</h3>


		<h1>Why <span id="bluelogo">Gym</span><span id="greenlogo">Talk</span></h1>


		<h3 id="end1">Why not replace a part of the time spent looking at a screen or shopping and have a look what is out there to get you moving?</h3>

		<h3 id="end2"> GET MOVING, HAVE FUN, find a gym, take a run, play...be healthy, be smart and live well.</h3>
		

		<div class="contact">
			<h1>Contact Us</h1>
			<h2><span class="email">info@<span id="bluelogo">gym</span><span id="greenlogo">talk</span>.com</span></h2>
		</div>
	</div>
</body>