/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*= require_tree .



 
 *****Do not use *= require in Sass or your other stylesheets will
 not be able to access the Bootstrap mixins or variables.
 */


// used SaSS to use variables, extends to save timed

$b-yellow: #e5e491; $text-green: #47b700; $text-blue: #007dff;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'custom';
@import 'image';



body {        
    position: relative;
    background: url(jump.jpg) no-repeat;
    z-index: 2;
    background-size: 100%;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    font-family: 'Lora', serif;
    overflow-y: scroll
}


//  bs columns  //

.col-xs-6 {
	display: inline-block;
  vertical-align: top;
  float: none;
}

//   images   //

.sm_pics {
	margin: 5px;
  border: 1px solid #ccc;
  float: left;
	width: 300px;
	height: auto;
} 


.landpic {
  border-radius:50%
}	

//  Nav bar for primary landing page  //

#lgn, #sgn {
  color: black;
}

#menu { 
    font-size: 2em;
    margin-right: 11%;
    border-radius: 48%;
    position: fixed;
    right: 0;
    top: 9%;
    margin-top: -2.5em;
    background-color: #800000;
}

#menu li :hover {
		text-decoration: none;
		display: inline;
    color: #f29c9c;
    font-variant: bold;
    font-weight: 400px;
    border-radius: 5%;
}

li{
  	float: left;
  	padding: 10px;
  	text-decoration: none;
  	list-style-type: none;
}

ul {
    list-style-type: none;
    padding-right:20px
}

//  Home anding page  //


.home_container {
	position: relative;
	margin: 0 auto;
	text-align: center;
	line-height: 3.4em;	
}

//  Buttons  //

.btn {
	border-radius: 24px;
	color: 5ab5e1;
}

//  Signup form , edit form //

#signup {
	position: relative;
  top:50%;
  left:10%;
  width:500px;
 }

#review {
 position: relative;
  top:50%;
  left:10%;
  width:500px;
 }
 .control-label {
  font-size: 2em;
 }

 .container.show {
  margin-right: 25px;
  // margin-left: auto;
  // margin-right: auto;
 }


.transbox {
  background-color: #ffffff;
  opacity: 0.6; 
}

.panel {
	@extend #signup;
  text-align: center;
  -webkit-box-shadow: -9px -11px 29px 0px rgba(0,0,0,0.82);
  -moz-box-shadow: -9px -11px 29px 0px rgba(0,0,0,0.82);
  box-shadow: -9px -11px 29px 0px rgba(0,0,0,0.82);    
}

.container, .userimage {
	@extend #signup;
}

// GymTalk page; site gallery; map   //

.userp {
  text-align: center;
}

#mapemb {
  margin-top: 100px;
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

.gp {
  display: inline-block;
} 

.stylepost {
  margin-left: 100px;
}   

 //   Flash messages //

 .flash_a {
 	color: red;
 }

 .flash_n {
 	color: black;
 }

 @media only screen and (max-width: 479px){
    .home_container { 
				width: 90%; 
			}
      #menu {
        margin-right: 5%;
        li {
          float: none
        }
      }

}
