$b-yellow: #e5e491; $text-green: #47b700; $text-blue: #007dff;

h1, h2, h3 {
	color: black;
	font-size: bold;
}
h3 {
	color: white;
	font-style: italic;
}

h4 {
	text-align: center;
	color: red;
	font-style: italic;
}


// login page  //

.logform input {
    margin-right: auto;
    display: block;
    margin-left: auto;
}

.logform .user {
    text-align: center;
}

.wel {
	margin-left: 10%;
	margin-top: 24%;
	font-weight: 400;
	font-weight: bold;
	border: black;
	font-size: 85px;
	color: white;
}

.wel2 {
	width: 236px;
  margin-left: 110%;
  margin-top: -12%;
  font-size: 46px;
  font-weight: 400;
  font-weight: bolder;
  font-variant: small-caps;
}

.home_intro_1 {
	padding-top: 40px;
	text-align: center;
	font-weight: bold;
}

.home_intro_2 {
	@extend .home_intro_1;
}


#h2, #h4 {
 	font-size: 30px;
 	color: #3e5bc7;
 	font-weight: bold;
}


//  nav_bar for all other pages  //


#main_nav {
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
	height: 40px;
	width: 100%;
	z-index: 0;
}

//  logo for GT  //

.logo {
	margin-left: 1%;
	z-index: 1;
	font-size: 15px;
}

#bluelogo, #greenlogo {
	 font-weight: 400;
	 font-weight: bold;
	 border: black;
	 font-size: 40px;
}

#bluelogo {
	color: $text-blue;
}

#greenlogo {
	color: $text-green;
}

//  fixed socail media bar  //

#social {
	float: right;
	z-index: 1;
}

// About & contact page  //


.email {
	font-weight: bolder;
  font-variant: small-caps;	
	color: white;
	font-weight: 400px;	
}

#end #end1 #end2 {
	color: white;
}

.gymtalkabout {
	margin-top: 5%;
	margin-left: 3%;
	width: 675px;
	background-color: rgba(236,240,241,0.2);
	border-radius: 3%;
}



// bs lightbox img gallery  - landing //


.modal-dialog {
	width: 600px;
}

.thumbnail {
	margin-bottom: 6px;
}

.sites {
	text-align: center;
	color: $text-blue;
}

.carol {
	margin-top: 50px;
}

//  Login  //

.w, .g {
	color: red;
}

.user {
	font-size: 20px;                                                                       

.wellog {
	margin-top: 30px;
}

.logform {
}

// photo collage masonry //

#masonry-container {
	width: 1180px;
	margin: 0 auto;
	background-color: black;
  padding: 5px 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}
.clearfix { 
	zoom: 1; 
}

// .col1 { width: 80px; }
// .col2 { width: 180px; }
// .col3 { width: 280px; } 
// .col4 { width: 380px; }
// .col5 { width: 480px; }
// .col6 { width: 580px; }

// .col1 img { max-width: 80px; }
// .col2 img { max-width: 180px; }
// .col3 img { max-width: 280px; }
// .col4 img { max-width: 380px; }
// .col5 img { max-width: 480px; }
// .col6 img { max-width: 580px; }

// Media Queries

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 #masonry-container {
 		width: 1000px;
 }
}

@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 #masonry-container {
 		width: 800px;
 }
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 #masonry-container {
 		width: 400px;
 }
 #menu {
 	top: 4%;
 }
 li {
 		float: none;		
 	}
}
 
@media only screen and (max-width : 399px),
only screen and (max-device-width : 399px){
 #masonry-container {
 		width: 200px;
 }

 #menu: {
 		margin-right: 5%;
 		top: 55%;		
 	}
 	li {
 			float: none;
 		}
}
